<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RCDetection</title>
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js">  </script>

    <style>
	    body,html{
			width:100%;
			height:100%;
			background-color: #212121;
			color:white;
			}
		div{
			position: absolute;
			border-style: box;
			border:1px solid;
            border-color:#a1a1a1;
			box-sizing:content-box;
			margin: 0;
		}
		table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
            table-layout: fixed;
            position: absolute;
        }
    	table td, table th
        {
            border: 1px solid #cad9ea;
            color: white;
            height: 20px;
            width: 80px;
            text-align: center;
        }
    	table th
        {
            width: 100px;
            color:white;
            background-color: #424242;
            position: relative;
    		top:expression(this.offsetParent.scrollTop-2);

        }
    	table tr:nth-child(odd)
        {
        	background: #696969;
        }
    	table tr:nth-child(even)
        {
            background: #696969;
        }

        .axis path {
		    stroke: grey;
		}
        .axis line {
		    fill: none;
		    stroke: grey;
		    shape-rendering: crispEdges;
		}
		.axis text {
			stroke: grey;
			fill:grey;
		    font-size: 11px;
		}
		.category{
			width: 96%;
			left:2%;
			height:120px;
			margin-top:5px;
			position: relative;
		}
		.category_text{
			border-style: none;
			font-size:12px;
		}

		.webs{
			fill:gray;
			fill-opacity:0.5;
			stroke:white;
			stroke-dasharray: 10 5;
		}
		.line{
			stroke:white;
			stroke-dasharray: 10 5;
		}


        #category_expl{
			width: 70%;
			height: 75%;
			left: 30%;
			top:0px;
		}
		#feature_expl{
            width: 30%;
			height: 100%;
			left:0px;
			top:0px;
		}
		#data_expl{
			width: 70%;
			height: 25%;
			top: 75%;
			left:30%;
		}

        #submit_data{
        	position:absolute;
        	top:0px;
        	left:0px;
        	height: 20px;
        }

        #data_select{
        	position:absolute;
        	top:20px;
        	left:0px;
        }

        #feature_distribution{
        	width: 100%;
        	height: 40%;
        }

        #feature_variance{
        	width: 100%;
        	height: 20%;
        	top: 40%;
        }

        #feature_subspace{
        	width: 100%;
        	height: 40%;
        	top: 60%;
        }

        #submit_feature{
        	position:absolute;
        	top:0px;
        	right:0px;
        	height: 20px;
        }

        #category_scatterplot{
        	width: 60%;
        	height: 100%;
        }
        #category_list{
            left: 60%;
        	width: 40%;
        	height: 100%;
        }

	</style>

</head>
<body>
	<div id = "feature_expl" >
		<div id = "feature_distribution" ></div>
		<div id = "feature_variance" >
			<button id = "submit_feature" onclick="select_feature()">确定</button></th>
		</div>
		<div id = "feature_subspace" ></div>
       
	</div>
	<div id = "data_expl"  style="overflow: auto">
		<button id = "submit_data" onclick="select_data()">提交</button></th>
			<table id = "data_select" >
				<tr id = "data_title">
					<th>
						<input type = "checkbox" id = "select_all_data" onclick="selected_all_data(this)" />
					</th>

					<th>id</th>

				</tr>
			</table>
	</div>
	<div id = "category_expl" >
		<div id = "category_scatterplot" style="overflow: auto"></div>
        <div id = "category_list" style="overflow: auto">  </div>
	</div>

    <script>
        var data = {{data|tojson}};
        console.log (data);
        raw_data = data.raw_data;
        feature_position = data.feature_position;
        feature_position_min = data.feature_position_min;
        feature_position_max = data.feature_position_max;
        feature_variance = data.feature_variance;
        feature_name = data.feature_name;
        data_position = data.data_position;
        data_position_min = data.data_position_min;
        data_position_max = data.data_position_max;
        category_mean = data.category_mean;
        category_index = data.category_index;


        var selected_data_instances = [];//data instanvces that selected by data table
        var selected_feature = [];//features selected for further analysis
        var chosen_feature = [];//mark for each feature
        	for(var i = 0; i < feature_name.length; i++){chosen_feature.push(0);}

        show_data();
        draw_category_scatterplot(data_position);
        draw_feature_distribution(feature_position);
        draw_feature_variance(feature_variance);
        draw_feature_subspace(feature_variance);
        draw_category_mean(category_mean);


        function show_data(){

            var tr = document.getElementById('data_title');
            for(var i = 0; i < feature_name.length; i++){
            	var th = document.createElement("th");
		        th.innerHTML = feature_name[i];
		        tr.appendChild (th);
            }

        	//display all the raw data in the table
	        for(var i=0;i < raw_data.length;i++){
		        var x=document.getElementById('data_select').insertRow();//add row

		        var checkBox=document.createElement("input");  //create check box
				checkBox.setAttribute("type","checkbox");  
				checkBox.setAttribute("id","data_instance"+String(i));
				var cell=x.insertCell();
                cell.append(checkBox);//add check box

		        var cell=x.insertCell();
                cell.innerHTML=i;//add id

		        for(var j=0;j < raw_data[i].length;j++){
		            var cell=x.insertCell();
		            cell.innerHTML=raw_data[i][j];
	        	}//add data
	   		}
        }

        function select_data(){
        	console.log("selected");
        	selected_data_instances = [];
        	//return the selected data
        	for(var i = 0; i < data_position.length; i++){
        	    var id = "data_instance"+String(i);
          		if(document.getElementById(id).checked){
          			selected_data_instances.push(data_position[i]);
          		}
        	}
        	console.log(selected_data_instances);
        	draw_category_scatterplot(selected_data_instances);

        	/*var json_data = JSON.stringify(
	    	{
	    		"data":selected_data_instances
	    	});

	        $.ajax(
	    	{
	    		type:'POST',
	    		async: false,
	    		url:'http://localhost:5000/index',
	    		data:{"data" : [1,2]},
	    		dataType:'json',
	    		contentType:'application/json',
	    		success:function(data){
	    			//alert("Add Successfully!")
	    			console.log("SUCCESS!");
	    		},
	    		error: function (xhr, textStatus, errorThrown) {
		            
		　　　　　　　　alert("进入error---");
		　　　　　　　　alert("状态码："+xhr.status);
		　　　　　　　　alert("状态:"+xhr.readyState);//当前状态,0-未初始化，1-正在载入，2-已经载入，3-数据进行交互，4-完成。
		　　　　　　　　alert("错误信息:"+xhr.statusText );
		　　　　　　　　alert("返回响应信息："+xhr.responseText );//这里是详细的信息
		　　　　　　　　alert("请求状态："+textStatus); 　　　　　　　　
		　　　　　　　　alert(errorThrown); 　　　　　　　　
		　　　　　　　　alert("请求失败"); 
		　　　　} 
	    		
	    	});
	    	var next = window.location.href;
	        window.location.href = next;*/


	        $.ajax({
                url: "/index",   //对应flask中的路由
                type: "POST", //请求方法
                data: 'hello',   //传送的数据
                dataType: "json", //传送的数据类型
                success: function (data) {  //成功得到返回数据后回调的函数
                    console.log("SUCCESS!")
                } 
            });
		}


		function selected_all_data(checkbox){
			//select all data
			if ( checkbox.checked == true){
		 	    for(var i = 0; i < raw_data.length; i++){
        	    	var id = "data_instance"+String(i);
          			document.getElementById(id).checked = true;
          		}
        	}//Action for checked
		
			else{
				for(var i = 0; i < raw_data.length; i++){
        	    	var id = "data_instance"+String(i);
          			document.getElementById(id).checked = false;
          		}
          	}
		}
 

		function draw_category_scatterplot(data){
			// set the dimensions and margins of the graph
			var margin = {top: 10, right: 30, bottom: 30, left: 60},
		    width = 460 - margin.left - margin.right,
		    height = 450 - margin.top - margin.bottom;
			// append the svg object to the body of the page
			d3.select("#category_scatterplot").select("svg").remove();
			var svg = d3.select("#category_scatterplot")
			  .append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			  .append("g")
			    .attr("transform",
			          "translate(" + margin.left + "," + margin.top + ")");
			
			var x_min = data_position_min[0];
			var x_max = data_position_max[0];
			var y_min = data_position_min[1];
			var y_max = data_position_max[1];
			// Add X axis
			var x = d3.scaleLinear()
			    .domain([x_min, x_max])
			    .range([ 0, width ]);
			  svg.append("g")
			  	.attr("class", "axis")
			    .attr("transform", "translate(0," + height + ")")
			    .call(d3.axisBottom(x));

			// Add Y axis
			var y = d3.scaleLinear()
			    .domain([y_min, y_max])
			    .range([ height, 0]);
			  svg.append("g")
			     .attr("class", "axis")
			    .call(d3.axisLeft(y));

			// Add a tooltip div. Here I define the general feature of the tooltip: stuff that do not depend on the data point.
			// Its opacity is set to 0: we don't see it by default.
			var tooltip = d3.select("#category_scatterplot")
			    .append("div")
			    .style("opacity", 0)
			    .attr("class", "tooltip")
			    .style("background-color", "#696969")
			    .style("border", "solid")
			    .style("border-width", "1px")
			    .style("border-radius", "5px")
			    .style("padding", "10px")
			    .style("width","120px")
			    .style("height","200px")

			// A function that change this tooltip when the user hover a point.
  			// Its opacity is set to 1: we can now see it. Plus it set the text and position of tooltip depending on the datapoint (d)
			var mouseover = function(d) {
			    tooltip
			      .style("opacity", 0.8)
			      .style("height","200px")
			    var id = d[2];
				feature_number = feature_name.length;
				var text = "Instance detail:<br/>";
				for (var i = 0; i < feature_number; i++){
					text = text.concat(feature_name[i] , ":" , raw_data[id][i],"<br/>");
				}
				//console.log(text);
				//"The position of the data instance is X: " + d[0] + " Y: " + d[1] 
				//(d3.mouse(this)[0]+90) + "px"
			    tooltip
			      .html(text)
			      .style("right", "5px") // It is important to put the +90: other wise the tooltip is exactly where the point is an it creates a weird effect
			      .style("top", "5px")
			  }

			var mousemove = function(d) {
				var id = d[2];
				feature_number = feature_name.length;
				var text = "Instance detail:<br/>";
				for (var i = 0; i < feature_number; i++){
					text = text.concat(feature_name[i] , ":" , raw_data[id][i],"<br/>");
				}
				//console.log(text);
				//"The position of the data instance is X: " + d[0] + " Y: " + d[1] 
				//(d3.mouse(this)[0]+90) + "px"
			    tooltip
			      .html(text)
			      .style("right", "5px") // It is important to put the +90: other wise the tooltip is exactly where the point is an it creates a weird effect
			      .style("top", "5px")
			  }

			  // A function that change this tooltip when the leaves a point: just need to set opacity to 0 again
			var mouseleave = function(d) {
			    tooltip
			      .style("opacity", 0)
			      .style("height","1px")
			  }

			// Add dots
			svg.append('g')
			    .selectAll("dot")
			    .data(data) // the .filter part is just to keep a few dots on the chart, not all of them
			    .enter()
			    .append("circle")
			      .attr("id",function(d,i){return "circle"+String(i);})
			      .attr("cx", function (d) { return x(d[0]); } )
			      .attr("cy", function (d) { return y(d[1]); } )
			      .attr("r", 4)
			      .style("fill", "#69b3a2")
			      .style("opacity", 0.8)
			      .style("stroke", "white")
			    .on("mouseover", mouseover )
			    .on("mousemove", mousemove )
			    .on("mouseleave", mouseleave );

			console.log("draw finish");
		}

		function draw_feature_distribution(data){
			// set the dimensions and margins of the graph
			var margin = {top: 10, right: 30, bottom: 30, left: 60},
		    width = 350 - margin.left - margin.right,
		    height = 220 - margin.top - margin.bottom;
			// append the svg object to the body of the page
			d3.select("#feature_distribution").select("svg").remove();
			var svg = d3.select("#feature_distribution")
			  .append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			  .append("g")
			    .attr("transform",
			          "translate(" + margin.left + "," + margin.top + ")");
			
			var x_min = feature_position_min[0];
			var x_max = feature_position_max[0];
			var y_min = feature_position_min[1];
			var y_max = feature_position_max[1];
			// Add X axis
			var x = d3.scaleLinear()
			    .domain([x_min, x_max])
			    .range([ 0, width ]);

			// Add Y axis
			var y = d3.scaleLinear()
			    .domain([y_min, y_max])
			    .range([ height, 0]);

			// Add a tooltip div. Here I define the general feature of the tooltip: stuff that do not depend on the data point.
			// Its opacity is set to 0: we don't see it by default.
			var tooltip = d3.select("#feature_distribution")
			    .append("div")
			    .style("opacity", 0)
			    .attr("class", "tooltip")
			    .style("background-color", "#696969")
			    .style("border", "solid")
			    .style("border-width", "1px")
			    .style("border-radius", "5px")
			    .style("padding", "10px")

			// A function that change this tooltip when the user hover a point.
  			// Its opacity is set to 1: we can now see it. Plus it set the text and position of tooltip depending on the datapoint (d)
			var mouseover = function(d,i) {
			    tooltip
			      .style("opacity", 1)
			    var rect = d3.select("#feature_variance"+String(i))
		     		.style("fill", "#f0e68c")
			  }

			var mousemove = function(d,i) {
			    tooltip
			      .html(feature_name[i] )
			      .style("left", (d3.mouse(this)[0]+90) + "px") // It is important to put the +90: other wise the tooltip is exactly where the point is an it creates a weird effect
			      .style("top", (d3.mouse(this)[1]) + "px")
			  }

			  // A function that change this tooltip when the leaves a point: just need to set opacity to 0 again
			var mouseleave = function(d,i) {
			    tooltip
			      .transition()
			      .duration(200)
			      .style("opacity", 0)
		      	if(chosen_feature[i] == 0){
		      		var rect = d3.select("#feature_variance"+String(i))
		     		.style("fill", "#fa8072")
		      	}
		      	else if (chosen_feature[i] == 1){
		      		var rect = d3.select("#feature_variance"+String(i))
		     		.style("fill", "#ffdab9")
		      	}

			  }

			// Add dots
			svg.append('g')
			    .selectAll("dot")
			    .data(data) // the .filter part is just to keep a few dots on the chart, not all of them
			    .enter()
			    .append("rect")
			      .attr("x", function (d) { return x(d[0]); } )
			      .attr("y", function (d) { return y(d[1]); } )
			      .attr("width", 7)
			      .attr("height", 7)
			      .attr("id",function(d,i){return "feature_rect"+String(i)})
			      .style("fill", "#ffff00")
			      .style("opacity", 0.8)
			      .style("stroke", "white")
			    .on("mouseover", mouseover )
			    .on("mousemove", mousemove )
			    .on("mouseleave", mouseleave );

		}

		function draw_feature_variance(data){
			// set the dimensions and margins of the graph
			var margin = {top: 15, right: 20, bottom: 20, left: 30},
			    width = 350 - margin.left - margin.right,
			    height = 110 - margin.top - margin.bottom;

			// append the svg object to the body of the page
			var svg = d3.select("#feature_variance")
			  .append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			  .append("g")
			    .attr("transform",
			          "translate(" + margin.left + "," + margin.top + ")");

			 
			  // X axis: scale and draw:
			  var x = d3.scaleBand()
			      .domain(feature_name)     // can use this instead of 1000 to have the max of data: d3.max(data, function(d) { return +d.price })
			      .range([0, width]);
			  svg.append("g")
			      .attr("transform", "translate(0," + height + ")")
			      .attr("class", "axis")
			      .call(d3.axisBottom(x));

			      /*
			  // set the parameters for the histogram
			  var histogram = d3.histogram()
			      .value(function(d) { return d; })   // I need to give the vector of value
			      .domain(x.domain())  // then the domain of the graphic
			      .thresholds(x.ticks(70)); // then the numbers of bins

			  // And apply this function to data to get the bins
			  var bins = histogram(data);
				*/
			  // Y axis: scale and draw:
			  var y = d3.scaleLinear()
			      .range([height, 0]);
			      y.domain([0, d3.max(data)]);   // d3.hist has to be called before the Y axis obviously
			  /*svg.append("g")
			  	  .attr("class", "axis")
			      .call(d3.axisLeft(y));*/

			  var tooltip = d3.select("#feature_variance")
			    .append("div")
			    .style("opacity", 0)
			    .attr("class", "tooltip")
			    .style("background-color", "#696969")
			    .style("border-radius", "5px")
			    .style("padding", "10px")

			  var showTooltip = function(d,i) {
			    tooltip
			      .style("opacity", 1)
			    tooltip
			      .html("variance: " + d)
			      .style("left", (d3.mouse(this)[0]+40) + "px")
			      .style("top", (d3.mouse(this)[1]) + "px")
			     console.log("here");
			    var rect = d3.select("#feature_rect"+String(i))
			     	.style("fill", "#fa8072")
			  }
			  var moveTooltip = function(d) {
			    tooltip
			    .style("left", (d3.mouse(this)[0]+40) + "px")
			    .style("top", (d3.mouse(this)[1]) + "px")
			  }
			  // A function that change this tooltip when the leaves a point: just need to set opacity to 0 again
			  var hideTooltip = function(d,i) {
			    tooltip
			      .transition()
			      .duration(100)
			      .style("opacity", 0)
		      var rect = d3.select("#feature_rect"+String(i))
		     	.style("fill", "#ffff00")
			  }

			  var chooseFeature = function(d,i){
			  	if(chosen_feature[i] == 0){
			  		chosen_feature[i] = 1;
			  		var rect = d3.select("#feature_variance"+String(i))
		     		.style("fill", "#ffdab9")
			  	}
			  	else if(chosen_feature[i] == 1){
			  		chosen_feature[i] = 0;
			  		var rect = d3.select("#feature_variance"+String(i))
		     		.style("fill", "#fa8072")
			  	}
			  	console.log(chosen_feature);
			  }

			  // append the bar rectangles to the svg element
			  var rectMargin = 7;
			  svg.selectAll("rect")
			      .data(data)
			      .enter()
			      .append("rect")
			        .attr("x", function(d,i){return x(feature_name[i]) + rectMargin;})
			        .attr("y",function(d,i){return y(d);})
			        .attr("width", function(d) { return x(feature_name[1]) - x(feature_name[0]) -2*rectMargin ; })
			        .attr("height", function(d) { return height - y(d); })
			        .attr("id",function(d,i){return "feature_variance"+String(i)})
			        .style("fill", "#fa8072")
			        // Show tooltip on hover
			        .on("mouseover", showTooltip )
			        .on("mousemove", moveTooltip )
			        .on("mouseleave", hideTooltip )
			        .on("click", chooseFeature)
			        //.attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
		}

		function draw_feature_subspace(data){
			var margin = {top: 30, right: 30, bottom: 30, left: 30},
		    width = 350 - margin.left - margin.right,
		    height = 240 - margin.top - margin.bottom;

		    var radius = 90;
		    var total = data.length;
		    var level = 4;
		    var range_min = d3.min(data);
		    var range_max = d3.max(data);
		    var arc = 2 * Math.PI;
		    var one_piece = arc / total;
		    var polygons = {webs:[], web_points:[]};

		    for(var k =level; k>0;k--){
		    	var webs = '', web_points = [];
		    	var r = radius/level * k;
		    	for(var i = 0; i<total;i++){
		    		var x = r * Math.sin(i * one_piece);
		    		var y = r * Math.cos(i * one_piece);
		    		webs += x + ',' + y +' ';
		    		web_points.push({x:x,y:y});

		    	}
		    polygons.webs.push(webs);
		    polygons.web_points.push(web_points);
		    }
		    //add web
		    var svg = d3.select("#feature_subspace")
		    			  .append("svg")
			    .attr("width", width + margin.left + margin.right)
			    .attr("height", height + margin.top + margin.bottom)
			    ;
			var webs = svg.append("g")
			    .attr("class","webs")
			    .attr('transform', "translate(" + (width + margin.left + margin.right)/2 + ',' + (height + margin.top + margin.bottom)/2 + ')');
			webs.selectAll("polygon")
				.data(polygons.webs)
				.enter()
				.append("polygon")
				.attr("points",function(d){return d;});
			//add lines 
			var lines = svg.append("g")
							.attr("class", "line")
							.attr('transform', "translate(" + (width + margin.left + margin.right)/2 + ',' + (height + margin.top + margin.bottom)/2 + ')');
			lines.selectAll("line")
					.data(polygons.web_points[0])
					.enter()
					.append("line")
					.attr("x1",0)
					.attr("y1",0)
					.attr("x2",function(d){return d.x;})
					.attr("y2",function(d){return d.y;});

			//calculate axis in web
			var areas_data = [];
			var area = '';
			var points = [];
			for(var k = 0; k < total; k++){
				var r = radius * (data[k] - range_min)/(range_max - range_min);
				var x = r * Math.sin(k * one_piece);
				var y = r * Math.cos(k * one_piece);
				area += x +',' + y +' ';
				points.push({x:x,y:y})
			}
			areas_data.push({
				polygon: area,
				points: points
			});
			//draw data
			var areas = svg.append("g")
							.attr("class","areas")
							.attr('transform', "translate(" + (width + margin.left + margin.right)/2 + ',' + (height + margin.top + margin.bottom)/2 + ')');
			areas.selectAll("g")
					.data(areas_data)
					.enter()
					.append("g")
					.attr("id", function(d,i){return "area"+(i+1);});
			for(var i = 0; i < areas_data.length; i++){
				var area = areas.select("#area"+(i+1));
				var area_data = areas_data[i];
				area.append("polygon")
					.attr("points", area_data.polygon)
					.attr("stroke","#fa8072")
					.attr("fill","#fa8072")
					.attr("fill-opacity","0.5");
				var circles = area.append("g");
				circles.selectAll("circle")
						.data(area_data.points)
						.enter()
						.append("circle")
						.attr("cx", function(d){return d.x;})
						.attr("cy", function(d){return d.y;})
						.attr("r",3)
						.attr("fill","#ff6347");
			}
			//add text
			var text_points = [];
			var text_radius = radius + 15;
			for(var i = 0; i < total; i++){
				var x = text_radius * Math.sin(i * one_piece);
				var y = text_radius * Math.cos(i * one_piece);
				text_points.push({x:x,y:y});
			}
			var texts = svg.append("g")
						.attr('transform', "translate(" + (width + margin.left + margin.right)/2 + ',' + (height + margin.top + margin.bottom)/2 + ')');
			texts.selectAll("text")
					.data(text_points)
					.enter()
					.append("text")
					.attr("x", function(d){return d.x;})
					.attr("y", function(d){return d.y;})
					.text(function(d,i){return feature_name[i];})
					.attr("font-size","12px")
					.attr("fill","white");


			
		}

		function select_feature(){
			selected_feature = [];
			for(var i = 0; i < feature_name.length; i++){
				if(chosen_feature[i] == 1){
					selected_feature.push(i);
				}
			}
			console.log(selected_feature);
		}




		function draw_category_mean(data){
			// set the dimensions and margins of the graph
			var margin = {top: 10, right: 20, bottom: 10, left: 30},
			    width = 300 - margin.left - margin.right,
			    height = 90 - margin.top - margin.bottom;

			var showCategory = function(){
				console.log("showCategory");
				for(var i = 0; i < category_index.length;i++){
					var circle = d3.select("#circle"+String(category_index[i]))
							.style("fill", "#fa8072")
				}

			}

			var mouseover = function(i){
				var category = d3.select("#category"+String(i))
							.style("border-color","blue")
				console.log("mouseover")
			}

			var mouseleave = function(i){
				var category = d3.select("#category"+String(i))
							.style("border-color","#a1a1a1")
			}

			for(var i = 0; i < 4;i++){
				var id = "category"+String(i);
				var category = d3.select("#category_list")
						.append("div")
						.attr("class","category")
						.attr("id","category"+String(i))
						.on("click", showCategory)
						.on("mouseover", mouseover(i))
						.on("mousemove", mouseover(i))
						.on("mouseleave", mouseleave(i))

				var text1 = category.append("div")
							.attr("class","category_text")
							.html("category: c"+String(i))
							.style("left","10px")
							.style("top","85px")
				var text2 = category.append("div")
							.attr("class","category_text")
							.html("instance: 9")
							.style("left","10px")
							.style("top","98px")

				// append the svg object to the body of the page
				var svg = category
				  .append("svg")
				    .attr("width", width + margin.left + margin.right)
				    .attr("height", height + margin.top + margin.bottom)
				  .append("g")
				    .attr("transform",
				          "translate(" + margin.left + "," + margin.top + ")");


				  // X axis: scale and draw:
				  var x = d3.scaleBand()
				      .domain(feature_name)     // can use this instead of 1000 to have the max of data: d3.max(data, function(d) { return +d.price })
				      .range([0, width]);

				  // Y axis: scale and draw:
				  var rect_height = Math.max(d3.max(data),Math.abs(d3.min(data)));
				  var y = d3.scaleLinear()
				      .range([height, 0]);
				      y.domain([-rect_height, rect_height]);   // d3.hist has to be called before the Y axis obviously
				  /*svg.append("g")
				  	  .attr("class", "axis")
				      .call(d3.axisLeft(y));*/


				  // append the bar rectangles to the svg element
				  var rectMargin = 4;
				  svg.selectAll("rect")
				      .data(data)
				      .enter()
				      .append("rect")
				        .attr("x", function(d,i){return x(feature_name[i]) + rectMargin;})
				        .attr("y",function(d,i){if(d>0){return y(d);}else{return (height/2)}})
				        .attr("width", function(d) { return x(feature_name[1]) - x(feature_name[0]) -2*rectMargin ; })
				        .attr("height", function(d) {if(d>0){return (height/2)-y(d);}else{return y(d)-(height/2);} })
				        .style("fill", function(d){if(d>0){return "red";}else{return "#4169e1";}})
				        .style("opacity", 0.7)
				        // Show tooltip on hover
			
				        //.attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
			}
		}



</script>
</body>
</html>

